arcade==2.6.5
asgiref==3.4.1
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
click==8.0.3
colorama==0.4.4
cryptography==36.0.0
Django==3.2.9
gTTS==2.2.3
idna==3.3
image==1.5.33
jdatetime==3.6.4
Pillow==8.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyglet==2.0.dev11
pymunk==6.2.1
pyOpenSSL==21.0.0
pyTelegramBotAPI==4.2.0
pytiled-parser==1.5.4
pytz==2021.3
qrcode==7.3.1
requests==2.26.0
service-identity==21.1.0
Shapely==1.8.0
six==1.16.0
sqlparse==0.4.2
TelegramBotAPI==0.3.2
typing_extensions==4.0.1
urllib3==1.26.7
